<div class="cont">
  <div class="menu-icon" (click)="toggleSidebar()">
    <i class="fas fa-bars" [class.closed]="!sidebarActive"></i>
  </div>
  <div class="sidebar" [class.active]="sidebarActive">
    <ul>
      <li><a routerLink="home" (click)="showTableView()">Home</a></li>
      <li><a routerLink="mappa" (click)="showMappa()">Mappa</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
      <li><a href="#">Link 5</a></li>
    </ul>
  </div>
</div>
<header>
  <div *ngIf="showTitle">
    <h1>
      ORDINI in stato:
      <span
        style="
          font-size: 4rem;
          text-shadow: none;
          color: black;
          font-weight: bold;
          font-style: italic;
        "
        >{{ statoOrdPlu }}</span
      >
    </h1>
  </div>
</header>
<div class="bloccoCentrale">
  <div *ngIf="showtable">
    <div class="button-container">
      <button class="button">
        <i class="fas fa-box"></i>
        <div><i class="fas fa-plus"></i> Prodotto</div>
      </button>
      <button class="button" (click)="showFormInserimentoOrdine()">
        <i class="fas fa-shopping-cart"></i>
        <div><i class="fas fa-plus"></i> Ordine</div>
      </button>
      <button class="button" (click)="showFormInserimentoCliente()">
        <i class="fas fa-user"></i>
        <div><i class="fas fa-plus"></i> Cliente</div>
      </button>
      <button class="button">
        <i class="fas fa-store"></i>
        <div><i class="fas fa-plus"></i> Negozio</div>
      </button>
      <button class="button">
        <i class="fas fa-warehouse"></i>
        <div><i class="fas fa-plus"></i> Magazzino</div>
      </button>
    </div>

    <br /><br />

    <div style="display: flex; justify-content: space-around">
      <div>
        <h3>STATO ORDINI</h3>
        <select
          name="statoOrdine"
          [(ngModel)]="statoOrd"
          (change)="changeSelect()"
        >
          <option value="RICEVUTO">RICEVUTI</option>
          <option value="EVASO">EVASI</option>
          <option value="PREPARAZIONE">IN PREPARAZIONE</option>
        </select>
      </div>
      <div><button class="button" style="width: fit-content; margin-top: 40%;" (click)="showGrafici()">GRAFICI</button></div>
      <div>
        <h3>ORDINA PER</h3>
        <select
          name="statoOrdine"
          [(ngModel)]="ordineList"
          (change)="changeList()"
        >
          <option value="data">DATA</option>
          <option value="cognomeCliente">CLIENTE</option>
          <option value="cognomeOperatore">IN OPERATORE</option>
          <option value="totaleAsc">TOTALE ASC</option>
          <option value="totaleDesc">TOTALE DESC</option>
        </select>
      </div>
    </div>
  </div>

  <br />

  <div *ngIf="showtable">
    <h2>Ordini Ricevuti</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Cliente</th>
          <th>Negozio</th>
          <th>Operatore</th>
          <th>Stato Pagamento</th>
          <th>Stato Ordine</th>
          <th>Totale</th>
          <th>Dettagli</th>
          <th>Opzioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            ><select
              name="totaleparam"
              id="totaleparam"
              [(ngModel)]="valoreselectmagg"
            >
              <option value="5">5</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
            </select>
            &lt;
            <select
              name="totaleparam"
              id="totaleparam"
              [(ngModel)]="valoreselectmin"
            >
              <option value="5">5</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
            </select>
          </td>
        </tr>
        <tr *ngFor="let order of orders">
          <td>{{ order.dataOrdine }}</td>
          <td>{{ order.cliente?.nome }} {{ order.cliente?.cognome }}</td>
          <td>{{ order.negozio?.sede }}</td>
          <td>{{ order.operatore?.nome }} {{ order.operatore?.cognome }}</td>
          <td>{{ order.pagamentoOrdine }}</td>
          <td>{{ order.statoOrdine }}</td>
          <td [ngStyle]="stiletab(order.totale!)">
            {{ order.totale | currency : "EUR" }}
          </td>
          <td>
            <button
              style="color: black; background-color: bisque"
              class="dettagli-btn"
              (click)="showOrderDetails(order.id!)"
            >
              Dettagli
            </button>
          </td>
          <td>
            <button class="dettagli-btn" (click)="aggiornaForm(order.id!)">
              Aggiona
            </button>

            <button
              style="background-color: brown"
              class="dettagli-btn"
              (click)="elimina(order.id!)"
            >
              Elimina
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div><router-outlet></router-outlet>
</div>

